<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<link rel="shortcut icon" href="/favicon.ico">
  <meta http-equiv="content-type" context="text/html"; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Jared Koumentis" />
    
  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/mainpage.css" type="text/css" />
  
  <!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30344765-1']);
  _gaq.push(['_setDomainName', 'liberumvir.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Shepherd Book's Commonplace</a>
    <a class="extra" href="/">Home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Jared Koumentis | <a href="http://feeds.feedburner.com/shepbookscommonplace">RSS Feed</a> <br />
        Author of <a href="http://www.liberumvir.com/">this blog</a> and <a href="http://www.thenoteplace.com/" target="_blank">TheNotePlace.com</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/ShepBook/" target="_blank">Fork me on GitHub @ShepBook</a><br />
        <a href="http://twitter.com/shepbook/" target="_blank">Follow me on Twitter @ShepBook</a><br />
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/ShepBook" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>

</body>
</html>
